{% extends "base.html" %}
{% block content %}
  <h2>Add a User</h2>
  <form method="post">
    <p><label>Name: <input name="name"></label></p>
    <p><label>Surname: <input name="surname"></label></p>
    <p><label>Reading Level:
      <select name="readingLevel">
        {% for l in levels %}<option>{{l}}</option>{% endfor %}
      </select>
    </label></p>
    <p><label>Preferred Theme:
      <select name="preferredTheme">
        {% for t in themes %}<option>{{t}}</option>{% endfor %}
      </select>
    </label></p>
    <button>Add User</button>
  </form>
{% endblock %}
